$medias: (
	(size: 576px, initials: col-xs), // Small devices (landscape phones, 576px and up)
	(size: 768px, initials: col-sm), // Medium devices (tablets, 768px and up)
	(size: 992px, initials: col-md), // Large devices (desktops, 992px and up)
	(size: 1200px, initials: col-lg) // Extra large devices (large desktops, 1200px and up)
);

$columns: 12;
$baseline: 15px;

@mixin media($initials, $columns) {
	@for $i from 1 through $columns {
		&.#{$initials}-#{$i} {
			$w: $i * (100% / $columns);
			max-width: $w;
			flex: 0 0 #{$w};
		}
	}
}

.row {
	display: flex;

	&.no-baseline {
		flex-wrap: wrap;
	}

	&:not(.no-baseline) {
		margin-left: -#{$baseline};
		margin-right: -#{$baseline};

		.col {
			padding-left: $baseline;
			padding-right: $baseline;
		}
	}

	.col {
		width: 100%;
		position: relative;

		@each $media in $medias {
			@media (min-width: map-get($media, size)) {
				@include media(map-get($media, initials), $columns);
			}
		}
	}
}
